.navbar {
  background-color: #f8f8f8;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar__welcome,
.navbar__menu {
  font-weight: bold;
}

.navbar__welcome {
  font-size: 24px;
  text-align: center;
  flex-grow: 1;
  margin-right: 0;
}

.navbar__menu {
  font-size: 20px;
  margin-left: auto;
  position: relative;
}

.navbar__menu-toggle {
  cursor: pointer;
}

.navbar__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  display: none;
  overflow: auto;
  white-space: nowrap;
  z-index: 1;
}

.navbar__dropdown.active {
  display: block;
}
